* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    font-size: 20px;
}

.header {
    background-color: blue;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}   

.logo {
    content: url('../img/list-check-svgrepo-com.svg');
    width: 50px;
    height: 50px;
}

.sidebar {
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-links {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

.side-links:hover {
    background-color: rgb(209, 219, 227);
    cursor: pointer;
}

.today {
    content: url('../img/last-24-hours-svgrepo-com.svg');
}

.all {
    content: url('../img/inbox-alt-1-svgrepo-com.svg');
}

.week {
    content: url('../img/calendar-small-svgrepo-com.svg');
}

.icon {
    width: 1em;
    height: 1em;
}

.create-project {
    content: url('../img/folder-plus-svgrepo-com.svg');
}

.project-icon {
    content: url("../img/todo-svgrepo-com.svg");
}

.edit-icon {
    margin-left: auto;
    content: url('../img/edit-svgrepo-com.svg');
}

.edit-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 195, 0.275);
}

.todo-icon {
    content: url('../img/plus-large-svgrepo-com.svg');
}



.projects-section h3,
.filter-container h3 {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 2px solid rgb(56, 53, 255);
}

.add-project-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}

.add-project-input input {
    width: 100%;
    font-size: 1.2rem;
}

.input-btns {
    display: flex;
    width: 100%;
    gap: 20px;
}

.add-btn,
.cancel-btn {
    flex: 1;
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.add-btn {
    background-color: rgb(104, 255, 104);
}

.cancel-btn {
    background-color: rgb(255, 104, 104);
}

.main-container {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-short {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid black;
}

.todo-short:hover {
    background-color: aliceblue;
}

.todo-short.high {
    border-left: 5px red solid;
}

.todo-short.medium {
    border-left: 5px yellow solid;
}

.todo-short.low {
    border-left: 5px green solid;
}

.todo-expand {
    display: none;
    padding: 10px;
    background-color: rgb(247, 247, 247);
}

.item-left,
.item-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-left input[type=checkbox] {
    height: 17px;
    width: 17px;
}

.delete-icon {
    content: url('../img/trash-svgrepo-com.svg');
}

.add-todo {
    justify-content: center;
}

#todo-popup {
    margin: auto;
}

#todo-popup::backdrop {
    backdrop-filter: blur(1px);
}

#todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#todo-form h3 {
    text-align: center  ;
}

.form-input-container {
    display: flex;
    flex-direction: column;
}

.form-upper {
    display: flex;
    flex-direction: column;
}

.form-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.delete-icon:hover {
    cursor: pointer;
    background-color: rgb(255, 81, 81);
}

.complete {
    text-decoration: line-through;
    background-color: rgba(47, 255, 0, 0.259);
}