* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
}

.header {
    background-color: blue;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}   

.logo {
    content: url('../img/list-check-svgrepo-com.svg');
    width: 50px;
    height: 50px;
}

.sidebar {
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-links {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

.side-links:hover {
    background-color: rgb(209, 219, 227);
    cursor: pointer;
}

.today {
    content: url('../img/last-24-hours-svgrepo-com.svg');
}

.all {
    content: url('../img/inbox-alt-1-svgrepo-com.svg');
}

.week {
    content: url('../img/calendar-small-svgrepo-com.svg');
}

.icon {
    width: 1em;
    height: 1em;
}

.create-project {
    content: url('../img/folder-plus-svgrepo-com.svg');
}

.project-icon {
    content: url("../img/todo-svgrepo-com.svg")
}

.projects-section h3 {
    margin-bottom: 10px;
}

.add-project-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}

.add-project-input input {
    width: 100%;
    font-size: 1.2rem;
}

.input-btns {
    display: flex;
    width: 100%;
    gap: 20px;
}

.add-btn,
.cancel-btn {
    flex: 1;
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.add-btn {
    background-color: rgb(104, 255, 104);
}

.cancel-btn {
    background-color: rgb(255, 104, 104);
}

.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-item {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}

.todo-item .high {
    border-left: 5px red solid;
}

.todo-item .medium {
    border-left: 5px yellow solid;
}

.todo-item .low {
    border-left: 5px green solid;
}

.item-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-project {
    justify-content: center;
}

.delete {
    content: url('../img/trash-svgrepo-com.svg');
}